<!-- 
	account-list.html
	Purpose: Lists all the accounts currently in the system
-->

<div>
	<div class="page-header">
		<h2>Account List</h2>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>APR</th>
				<th>Current Balance</th>
				<th>Monthly Payment</th>
				<th>Actions </th>
			</tr>
		</thead>
		<tbody>

			<!-- Iterate through the accounts in the system and display their information -->
			<tr ng-repeat="account in accounts">
				<td>{{ account.name }}</td>
				<td>{{ account.APR }}%</td>
				<td>{{ account.balance | currency }}</td>
				<td>{{ account.payment | currency }}</td>
			
				<td>
					<a href="" ng-click="editAccount( account )"><i class="glyphicon glyphicon-pencil"></i></a>	
					<a href="" ng-click="deleteAccount( account )"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			<tr> 

			<!-- Form to take user input -->
			<form novalidate class="css-form">
				<!-- ADD Name -->
				<td><div class="input-group input-group-sm">
					<input type="text" class="form-control" ng-model="newAccount.name" placeholder="Account Name" required />
				</div></td>
				<!-- ADD APR -->
				<td><div class="input-group input-group-sm">
					<input type="text" class="form-control" ng-model="newAccount.APR" placeholder="e.g., 5.5" aria-describedby="basic-addon0"/>
					<span class="input-group-addon" id="basic-addon0">%</span>
				</div></td>
				<!-- ADD Balance -->
				<td class="input-group input-group-sm"> 
					<span class="input-group-addon" id="basic-addon1">$</span>
					<input type="text" class="form-control" ng-model="newAccount.balance" placeholder="e.g., 1,500" aria-describedby="basic-addon1"/>
				</td>
				<!-- ADD Payment -->
				<td><div class="input-group input-group-sm">
					<span class="input-group-addon" id="basic-addon2">$</span>
					<input type="text" class="form-control" ng-model="newAccount.payment" placeholder="e.g., 25.00" aria-describedby="basic-addon2"/>
				</div></td>

				<td>
					<a href="" ng-click="reset()"><i class="glyphicon glyphicon-refresh" ></i></a>
					<a href="" ng-click="create()"><i class="glyphicon glyphicon-ok-sign"></i></a>
				</td>
			</form>
			<style type="text/css">
				.css-form input.ng-invalid.ng-touched {
					background-color: #FA787E;
				}
				.css-form input.ng-valid.ng-touched {
					background-color: #78FA89;
				}
			</style>
			</tbody>
		</table>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Blended APR</th>
					<th>Total Balance</th>
					<th>Total Monthly Payment</th>
				</tr>
			</thead>
				<tbody></tbody>
			<tfoot>
				
					<th> Totals</th>
			
					
					<th>{{blendedAPR()}}%</th>
					<th>{{ totalBalance() | currency }}</th>
					<th>{{ totalMonthly() | currency }}</th>
				
			</tfoot>
			
	</table>
</div>
