<!-- 
	account-list.html
	Purpose: Lists all the accounts currently in the system
-->

<div>
	<div class="page-header">
		<h2>Account List</h2>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>APR</th>
				<th>Current Balance</th>
				<th>Monthly Payment</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			<!-- Form to take user input -->
			<form>
				<td><input type="text" ng-model="account.name" /></td>
				<td><input type="text" ng-model="account.APR" /></td>
				<td><input type="text" ng-model="account.balance" /></td>
				<td><input type="text" ng-model="account.payment" /></td>

				<td>
					<a href=""><i class="glyphicon glyphicon-pencil"></i></a>
					<a href=""><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</form>
			</tbody>
		</table>

		<table class="table table-striped">
			<!-- Iterate through the accounts in the system and display their information -->
		<!--	<tr ng-repeat="account in accounts">
				<td>{{ account.name }}</td>
				<td>{{ account.APR }}%</td>
				<td>{{ account.balance | currency }}</td>
				<td>{{ account.payment | currency }}</td>
			
				<td>
					<a href=""><i class="glyphicon glyphicon-pencil"></i></a>
					<a href=""><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			<tr> -->
			
			<thead>
				<tr>
					<th>Name</th>
					<th>Blended APR</th>
					<th>Total Balance</th>
					<th>Total Monthly Pymt</th>
				</tr>
			</thead>
				<tbody></tbody>
			<tfoot>
				
					<th><input type="text" class="addItemTBox0" ng-model="addNew" disabled></th>
					<th><input type="text" class="addItemTBox1" ng-model="blendedAPR" disabled></th>
					<th><input type="text" class="addItemTBox2" ng-model="totalBalance" disabled></th>
					<th><input type="text" class="addItemTBox3" ng-model="totalMonthly" disabled></th>
				
				
			</tfoot>
			
	</table>
</div>