.css-form input.ng-invalid.ng-touched {
	background-color : #FA787E;
}

.css-form input.ng-valid.ng-touched {
	background-color : #78FA89;
}

.nowrap {
	white-space : nowrap;
} 

.snug { 
	width : 1px;
	white-space : nowrap;
}

.apr-input {
	width : 50px ;
}

.account-input {
	width: 400px !important;
}

#application-container {
	margin : 0 40px 0 40px;
}

.account-actions i {
	cursor: pointer;
}

/*MLA additions for Splash Page*/


.contentCentered {
  text-align: center;
  background-image:url('splash/debtcard.jpg');
    background-repeat:no-repeat;
    background-position: center;
  width:100%;
  height:100%;
  position:absolute;
  color:white;
}

.contentCentered:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.contentCentered > * {
  display: inline-block;
  vertical-align: middle;
}



